* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;

}

body{
	font-family: 'Muli', sans-serif;
}

header{
	width: 100%;
	height: 80px;
	background: #6a7681ec;
	color: #050507dc;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#container{
	weight:90%;
	height:350px;
	background-color:salmon;
  margin-top: 100px;
}


.contenedor{
	width: 98%;
	margin: auto;
	display: flex;
}

img.pequeña{
	width: 50px;
    height: 50px;
    }

.logo{
    width: 80px;
    height: 80px;
    float: left;
    z-index: 100;
    }

    h1{
        display: flex;
        align-items: initial;
        justify-content:center;
        font-size: 25px;
    }
    footer .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        bottom: 0;
        position: relative;;
    }

    .copy {
        font-size: 20px;
    }

    footer .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        bottom: 0;
        position: absolute;
    }

    .copy {
        font-size: 20px;
    }

    @media (min-width: 768px){

        }
        footer .contenedor{
            justify-content: space-between;
        }
    }

    @media (min-width: 1024px){
        .contenedor{
            width: 1000px;
        }
    }


    /*estilo para ingresar*/
#ingresar{
    margin-top: 50px;
    position: absolute;
}
#ingresar a {
	display: block;
	width: 100px;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #fff;
}
#ingresar a:hover{
	background: rgba(0,179,178,0.9);
}
@media (min-width: 480px){
	#ingresar h2{
		font-size: 40px;
	}
	#ingresar a{
		margin-top: 25px;
	}
}
@media (min-width: 768px){
	#ingresar{
		height: 300px;
		overflow: hidden;
	}
	#ingresar img{
		height: auto;
		margin-top: -5px;
	}
}

.menu{
	width: 100%;
	height: 100vh;
	top: 50px;
    display: flex;
}
