* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;   

}

body{
	font-family: 'Muli', sans-serif;
}

header{
	width: 100%;
	height: 80px;
	background: #6a7681ec;
	color: #050507dc;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}


.contenedor{
	width: 98%;
	margin: auto;
	display: flex;
}

img.pequeña{
	width: 50px;
    height: 50px;
    }

.logo{
    width: 80px;
    height: 80px;
    float: left;
    z-index: 100;
    }

    h1{
        display: flex;
        align-items: initial;
        justify-content:center;
        font-size: 25px;
    }
    footer .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px; 
        bottom: 0;
        position: relative;;
    }
    
    .copy {
        font-size: 20px;
    }
    
    footer .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px; 
        bottom: 0;
        position: absolute;
    }
    
    .copy {
        font-size: 20px;
    }
    
    @media (min-width: 768px){

        }
        footer .contenedor{
            justify-content: space-between;
        }
    }
    
    @media (min-width: 1024px){
        .contenedor{
            width: 1000px;
        }
    }
    
   
    /*estilo para ingresar*/
#ingresar{
    margin-top: 50px;
    position: absolute;
}
#ingresar a {
	display: block;
	width: 100px;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #fff;
}
#ingresar a:hover{
	background: rgba(0,179,178,0.9);
}
@media (min-width: 480px){
	#ingresar h2{
		font-size: 40px;
	}
	#ingresar a{
		margin-top: 25px;
	}
}
@media (min-width: 768px){
	#ingresar{
		height: 300px;
		overflow: hidden;
	}
	#ingresar img{
		height: auto;
		margin-top: -5px;
	}
}

.menu{
	width: 100%;
	height: 100vh;
	top: 50px;
    display: flex;
}
/*css vista de inicio */
.contenedor-inicio{
    background-color: rgba(238, 201, 159, 0.76);
    width: auto;
    height: 350px;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    align-items:center;

}
.items{
    width: 90%;
    height: 100px;;
    /*background: #69a6dfc2;*/
    display: flex;
    justify-content:center;
    margin-top: 10px;
    align-items: center;
       
}
.items:nth-child(3){
    /*background: salmon;*/
    height: 150px;
    color: rgb(92, 63, 22);
    
    
}
.items:nth-child(2){
    background: honeydew;
    height: 50px;
    width: 60%;
}
.logo-inicio{
 width: 100px;;
 height: 100px;
 border-radius: 50px;
}
/*asta aqui css de vista inicio*/
/*css de vista entrar o login*/
.login-container{
    background-color: rgba(198, 237, 240, 0.589);
    width: 350px;
    height: 450px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.item-login:nth-child(1){
   /* background: #ddad91d7;*/
    width:300px;
    margin-top: 10px;
    height:50px;
    font-size: 15px;
    display: flex;
    

    
}
.item-login:nth-child(2){
   /* background: #586436d7;*/
    height:35px;;
    


}
.item-login:nth-child(3){
   /* background: #9696d19b;*/
    height: 40px;
}
.item-login:nth-child(4){
    height: 100px;
    /*background: #5b9fdf98;*/

}